{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {},
        "class-properties": {
          "loose": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "styled-jsx/babel"
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}