.tile {
    position: relative;
    flex: 0 0 48px;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.tile:before {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
}

.tile.hidden:before {
    border: solid 1px #fafafa;
}

.tile.exists {
    border: none;
    background: url(https://res.cloudinary.com/dstnxq7wt/image/upload/v1580680438/heroes/A2_Ground.png) 0 0;
    background-size: 768px 576px;
}

.tile.scout:before {
    border: solid 1px green;
}

.tile.selected:before {
    border: solid 1px red;
}

.building {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 32px;
    height: 33px;
    background: url("https://res.cloudinary.com/dstnxq7wt/image/upload/v1580687692/heroes/Tile-set_-_Toen_s_Medieval_Strategy_16x16_-_v.1.0.png") -32px -111px;
}

.tile.center .building {
    background-position: -64px -111px;
}

.box {
    display: flex;
    flex-direction: row;
}
.hero {
    flex: 0;
    width: 16px;
}

.hero-image {
    width: 16px;
    height: 28px;
    background: url("https://res.cloudinary.com/dstnxq7wt/image/upload/v1580681051/heroes/mobs/knight.png");
}

.monster {
    padding-top: 3px;
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    background: url(https://res.cloudinary.com/dstnxq7wt/image/upload/v1580681338/heroes/mobs/free-monsters.png) 0 3px;
    background-clip: content-box;
}

.kill-mark:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background: url("https://res.cloudinary.com/dstnxq7wt/image/upload/v1581023204/heroes/target.png");
}
